html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f1f1f1;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #222;
  padding: 20px;
  text-align: center;
  color: white;
}

.app-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.app-content {
  height: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.app-content .video-detail {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.app .video-detail {
  width: 100%;
  margin-right: 10px;
  background: white;
  border: 1px solid #e8e8e8;
}

.app .video-list {
  width: 320px;
  margin: 0;
  background: white;
  border: 1px solid #e8e8e8;
}
